/* font section here */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

.manrope-regular {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
:root {
  --primary-color: #3a3a3a;
}
/* universal css */
* {
  margin: 0;
  padding: 0;
}

.container, .banner {
  max-width: 1140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px auto;
  padding: 20px;
  gap: 20px;
}
.btn-primary {
  background-color: #e02c6d;
  color: white;
  padding: 10px 25px;
  border-radius: 40px;
  border: none;
  cursor: pointer;
  transform-origin: left;
}
.btn-primary:hover {
  transform: scale(1.25);
  transition: 1s ease;
  background-color: #3a3a3a;
}
/* website name */
.website-name h1 {
  font-size: 1.5rem;
  color: var(--primary-color);
  font-weight: bold;
}

/* menubar styles */
.menu-bar ul {
  display: flex;
  gap: 34px;
}
.menu-bar ul li {
  list-style: none;
  position: relative;
}

.menu-bar ul li a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 600;
}

/* home button dropdown */
.home-dd:hover .home-dropdown {
  visibility: visible;
}
.home-dropdown {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100px;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  visibility: hidden;
}


/* banner design */

.banner-left h1 {
  font-size: 3.25rem;
  color: var(--primary-color);
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 16px;
}

.banner-left p {
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 16px;
}

.banner-right {
  background-image: url("../images/Circle\ design.svg");
  background-size:contain;
  background-repeat: no-repeat;
}

@media screen and (max-width:576px) {
  .container{
    flex-direction: column;
  }
  .banner{
    flex-direction: column-reverse;
  }
  .banner-left{
    text-align: center;
  }
  .btn-primary{
    scale: 1.5;
    transform-origin: center;
  }
}